home,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.darkblue {
  background-color: #1e3242;
}

.fulllength {
  height: 100vh;
}

.title{
    color:#5fd0e4;
    font: Fenton Medium;
}

.home {
  background-color: #16232d;
}

.centre {
  /* centres div*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 439px;
}

/*displays logo to homepage */
.logo {
  content: url(logo.jpg);
  display: block;
  height: 130px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.guitar-box {
  align-self: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  max-height: 20vw;
}

.guitar-image {
  height: 100%;
  width: auto;
  transform: rotate(270deg);
}

.fill {
  width: 100%;
  height: 100%;
}

.card-title{
  font-size: 2.5vw;
}

.guitar-card{
  height: 40vw;
  margin-bottom: calc(var(--bs-gutter-x));
  border-radius: 1rem;
}
/*aligns logo image on page */
.arrow{
    content:url(arrow.jpg);
    background: transparent;
    border: none;
    display: block;
    height:200px;
    margin-top:75px;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
  }
  
.arrow:hover {
    box-shadow: none;
  }


#button{
    position: fixed;
    transition: top 0.3s;
}


  .myBtn {
    display: outside;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: #ec661a;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .myBtn:hover {
    background-color: #5fd0e4;
  }

.modal-title{
  padding-bottom: 5%;
}

.modalButton{
    height: 400px;
    width: 400px;
    transition-duration: 0.4s;
    margin: 40px;
}

.modalButton:hover{
    box-shadow: 0 0 2px 1px #5fd0e4;
    background-color: #333333;
}

.modal {
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed - why won't this work??? */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #1e3242;
  color: #f4f4f4;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80vw;
  height: auto;
  border: 1rem;
}

a {
  color: #333333;
  text-decoration: none;
}

.modal-img{
    height: 90%;
    width: auto;
    max-width: 250px;
    max-height: 750px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.small-pad-top {
  padding-top: calc(var(--bs-gutter-x)*.5);
}

.small-pad-left {
  padding-left: calc(var(--bs-gutter-x)*.5);
}

.medium-pad-top {
  padding-top: calc(var(--bs-gutter-x));
}

.medium-pad-left {
  padding-left: calc(var(--bs-gutter-x));
}