<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Guitar Guitar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="{% static script.js %}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>
        <div class="container-fluid home fulllength">
            <div class="row fulllength">
                <div class="col-12 fulllength">
                    <h1 class="title"> Interactive Scrolling Experience </h1>
                    <div class= "centre darkblue">
                    <div class = "logo">
                        <logo src="logo.jpg" alt="logo" style="width:150px">
                        </div>
                        <div class = "arrow">
                        <arrow src="arrow.jpg" alt="arrow" style="width:150px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid darkblue">
            {% if guitars %}
            {% for guitar in guitars %}
            {% cycle '<div class="row">' '' '' %}
                <div class="col-md-4">
                    <div class="guitarcard card mb-3" onclick="openModal()">
                            <h3 class="card-title small-pad-top small-pad-left">{{ guitar.brandName }} - {{ guitar.itemName }}</h3>
                            <h5 class="card-subtitle mb-2 text-muted title-padded small-pad-left">£{{ guitar.salesPrice }}</h5>
                            <!--<p class="card-text">{{ guitar.description | safe }}</p>-->
                            <!--<p class="card-text"><small class="text-muted">{{ guitar.brandName }}</small></p>-->
                            <div class="card-body">
                        <div class="guitar-box">
                            <img src="{{ guitar.pictureMain }}" class="card-img-top guitar-image" alt="Picture of a guitar">
                        </div>
                    </div>
                        </div>
                        
                </div>
            {% if loop.last %}
            </div>
            {% else %}
            {% cycle '' '' '</div>' %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

 <!-- jQuery CDN hosted by Google -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jScroll plug-in CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

<script>
    jQuery(($) => {
        var $list = $('.list');
        $list.jscroll({
            loadingHtml: `<div class="text-center">` +
                `<img src="{% static 'loading.gif' %}" alt="Loading" />` +
                `</div>`,
            padding: 100,
            pagingSelector: '.pagination',
            nextSelector: 'a.next-page:last',
            contentSelector: '.card,.pagination'
        });
    });
</script>
</body>
</html>